.filename	{font-family: "Courier new", courier;	color: brown; font-weight: bold}
.command	{font-family: "Courier new", courier;	color: green; font-weight: bold}
.key		{font-family: "Courier new", courier;	color: gray; font-weight: bold}
.fixedsize	{font-family: "Courier new", courier}
.topic		{font-weight: bold}