/******************************************************************************
 ***** MAMEOPL.RC -- Auxiliary Windows NT driver for OPL access in MAME32 *****
 ***** ------------------------------------------------------------------ *****
 *****                Driver Version Information Resources                *****
 *****                    written by Robert Schlabbach                    *****
 *****          e-mail: robert@powerstation.isdn.cs.TU-Berlin.DE          *****
 ******************************************************************************/

// include files
#include <winver.h>

// version information resource
VS_VERSION_INFO	VERSIONINFO
FILEVERSION		1, 2, 1, 1	/* major, minor, build, QFE */
PRODUCTVERSION	1, 2, 1, 1	/* major, minor, build, QFE */
FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
FILEFLAGS		0
FILEOS			VOS_NT_WINDOWS32
FILETYPE		VFT_DRV
FILESUBTYPE		VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"	/* LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP */
		BEGIN
			VALUE	"ProductName",		"Multiple Arcade Machine Emulator for Win32 (MAME32)"
			VALUE	"FileDescription",	"Auxiliary MAME32 OPL Access Driver"
			VALUE	"FileVersion",		"1.02"
			VALUE	"LegalCopyright",	"Written by Robert Schlabbach"
			VALUE	"Comments",			"e-mail: robert@powerstation.isdn.cs.TU-Berlin.DE"
			VALUE	"OriginalFilename",	"MAMEOPL.SYS"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE	"Translation", 0x0409, 0x04B0
	END
END

/* EOF */
